<!--
 ________  ____      ____  ______    
|_   __  ||_  _|    |_  _||_   _ `.  
  | |_ \_|  \ \  /\  / /    | | `. \ 
  |  _|      \ \/  \/ /     | |  | | 
 _| |_        \  /\  /     _| |_.' / 
|_____|        \/  \/     |______.'  
“Simplicity is soul of efficiency.” 
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Nano.to - Nano Username & Checkout UI</title>
    <link rel="icon" type="image/png" href="https://nano.to/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0">
    <meta name="author" content="nano2dev" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="transparent">
    <meta name="apple-mobile-web-app-title" content="Nano.to">
    <link rel="apple-touch-icon" href="dist/images/new_icon.png">
    <meta property="og:title" content=">Nano.to - Nano Username & Checkout UI">
    <meta property="og:image" content="dist/images/cover.png">
    <link rel="stylesheet" href="dist/style.css">
    <link rel="stylesheet" href="dist/checkout.css">
    <script src="dist/vue.min.js"></script>
    <script src="dist/axios.min.js"></script>
    <script src="dist/easy.qrcode.min.js"></script>
    <script src="dist/nanocurrency.min.js"></script>
  </head>
  <body>
    <div id="app" :class=" `on ${color}`">
      <div v-if="notification" class="notification">{{ notification }}</div>
      <div v-if="loading" class="loader"></div>
      <div :style=" background ? `background-image: url('${ '${background}' }')` : `background-image: url('${ 'dist/images/unnamed.gif' }')` " id="backdrop"></div>
      <!-- SEO hackz -->
      <p style="display: none">Nano.to is a free API service for the NANO crypto currency. Navigate the NANO blockchain, create non-custodial payment pages, QR codes and more.</p>
      <!-- End SEO hackz -->
      <div v-if="!checkout" :class="`ak47 ${status ? color : 'red'} ${status.status && status.status == false ? 'error' : ''}`">
        <div v-if="title" style="cursor: pointer;" @click="reset()">
          <h3 :class="`title ${status.status && status.status == false ? 'error' : ''}`" style="margin-top: 10px; font-size: 22px">
            {{ title }}
          </h3>
        </div>
        <div :class="`box--outer ${status.status && status.status == false ? 'error' : ''}`">
          <div class="box">
            <div class="box--inner">
              <div class="content">
                <div v-if="suggestions.length" id="search-screen" @click="suggestions = []"></div>
                <div class="holder" style="max-width: 440px">
                  <div v-if="search">
                    <p style="font-size: 20px; margin-bottom: 30px; margin-top: 0;">Search Blockchain</p>
                    <form @submit.prevent="query()">
                      <input type="text" v-model="string" placeholder="Username, Address, Hash" style="zoom: 1.2;background: #00000078;color: #FFF;">
                      <div class="suggest" v-if="suggestions.length">
                        <div v-for="suggestion in suggestions" @click="doSuggestion(suggestion)">
                          {{ capitalizeFirstLetter(suggestion.name) }}
                        </div>
                      </div>
                      <div style="display: block; height: 15px;"></div>
                      <div class="row centered">
                        <button class="cybr-btn" style="zoom: 0.6; margin: 20px auto; "> Search <span aria-hidden>_</span>
                          <span aria-hidden class="cybr-btn__glitch">Cyber_</span>
                          <span aria-hidden class="cybr-btn__tag">R25</span>
                        </button>
                      </div>
                    </form>
                    <a :href="status.url ? status.url : 'https://docs.nano.to'" target="_blank">
                      <p style=" margin-top: 20px;font-size: 14px;opacity: 0.7;margin-bottom: -20px;text-transform: uppercase; ">
                        <span>{{ status.message ? status.message || 'API Experiencing Issues' : 'LEARN MORE' }}</span>
                      </p>
                    </a>
                    <a href="http://github.com/fwd/nano" target="_blank" style="font-size: 15px; opacity: 0.7; text-transform: uppercase; filter: invert(1); margin-top: 65px; margin-bottom: -50px; zoom: 0.8;display: block;">
                      <span>
                        <svg enable-background="new 0 0 32 32" height="32px" id="Layer_1" version="1.0" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path clip-rule="evenodd" d="M16.003,0C7.17,0,0.008,7.162,0.008,15.997  c0,7.067,4.582,13.063,10.94,15.179c0.8,0.146,1.052-0.328,1.052-0.752c0-0.38,0.008-1.442,0-2.777  c-4.449,0.967-5.371-2.107-5.371-2.107c-0.727-1.848-1.775-2.34-1.775-2.34c-1.452-0.992,0.109-0.973,0.109-0.973  c1.605,0.113,2.451,1.649,2.451,1.649c1.427,2.443,3.743,1.737,4.654,1.329c0.146-1.034,0.56-1.739,1.017-2.139  c-3.552-0.404-7.286-1.776-7.286-7.906c0-1.747,0.623-3.174,1.646-4.292C7.28,10.464,6.73,8.837,7.602,6.634  c0,0,1.343-0.43,4.398,1.641c1.276-0.355,2.645-0.532,4.005-0.538c1.359,0.006,2.727,0.183,4.005,0.538  c3.055-2.07,4.396-1.641,4.396-1.641c0.872,2.203,0.323,3.83,0.159,4.234c1.023,1.118,1.644,2.545,1.644,4.292  c0,6.146-3.74,7.498-7.304,7.893C19.479,23.548,20,24.508,20,26c0,2,0,3.902,0,4.428c0,0.428,0.258,0.901,1.07,0.746  C27.422,29.055,32,23.062,32,15.997C32,7.162,24.838,0,16.003,0z" fill="#181616" fill-rule="evenodd"></path>
                          <g></g>
                          <g></g>
                          <g></g>
                          <g></g>
                          <g></g>
                          <g></g>
                        </svg>
                      </span>
                    </a>
                  </div>
                  <div v-if="!search">
                    <div v-if="prompt" class="small-mobile">
                      <div>
                        <h1 v-if="prompt.title" style="color: red; font-size: 40px !important; word-break: break-all; margin-top: 0px">{{ prompt.title }}</h1>
                        <p v-html="prompt.body"></p>
                      </div>
                    </div>
                    <div v-if="prompt && prompt.buttons && prompt.buttons.length" class="row centered button-group" :style="`margin-top: 30px; justify-content: ${prompt.buttons.length > 1 ? 'space-around' : ''}`">
                      <div v-for="button in prompt.buttons">
                        <a @click="doButton(button)">
                          <button class="cybr-btn" style="zoom: 0.6;">
                            {{ button.label }}
                            <span aria-hidden>_</span>
                            <span aria-hidden class="cybr-btn__glitch">{{ button.label }}
                              <span aria-hidden>_</span>
                            </span>
                            <span aria-hidden class="cybr-btn__tag">R25</span>
                          </button>
                          <a />
                      </div>
                    </div>
                    <a v-if="prompt.more" :href="prompt.more" target="_blank">
                      <p style=" margin-top: 20px; font-size: 15px; opacity: 0.7; margin-bottom: 15px; text-transform: uppercase;">
                        <span>{{ 'LEARN MORE' }}</span>
                      </p>
                    </a>
                    <a v-if="prompt" @click.prevent="prompt = false; search = true">
                      <p style=" margin-top: 30px; font-size: 14px; opacity: 0.7; margin-bottom: -20px; text-transform: uppercase;">
                        <span>{{ 'CANCEL' }}</span>
                      </p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="checkout" id="checkout" class="flex">
        <div v-if="!checkout.fullscreen" id="avatar" class="flex center justify" @click="checkout = false">
          <span class="back" style="padding-right: 10px;">←</span>
          <h3>Cancel</h3>
        </div>
        <section v-if="checkout.plans"  id="order" :style="`background-color: ${checkout.background && checkout.background.left ? checkout.background.left : ''}; align-items: ${checkout.plans && checkout.plans.length < 4 ? 'start' : 'center'};`">
          <div class="about">
            <div class="name flex center justify">
              <h2>{{ checkout.title }}</h2>
              <p class="price">$0.43</p>
            </div>
            <p v-if="checkout.message" class="description"></p>
            <div class="plans">
              <div v-for="plan in checkout.plans" :class="`${checkout.amount === plan.value ? 'active' : ''}`">
                <div class="flex justify center" @click="checkout.amount = plan.value">
                  <h4>{{ plan.title }}</h4>
                  <h4>{{ plan.currency }}{{ plan.value }}</h4>
                </div>
              </div>
            </div>
            <div class="plans custom">
              <div class="flex justify center">
                <h4>Enter amount (<span style="text-transform: uppercase; border-bottom: 1px solid;">USD</span>) </h4>
                <div class="dinput">
                  <input type="number" inputmode="decimal" min="1" max="133248297" v-model="checkout.amount">
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="payment" :style="checkout.background && checkout.background.right ? `background-color: ${checkout.background.right}` : ''" :class="checkout.plans ? '' : 'full'">
          <div class="details">
            <!---->
            <div class="crypto">
              <h4 v-if="checkout.amount" class="instructions">
                <span class="faded">To complete, send:</span>
                <b class="amount" style="cursor: pointer;">{{ checkout.amount }}
                  <span class="blocky">NANO</span>
                  <span class="hide-desktop"><img src="./dist/images/clipboard.png" alt=""></span>
                </b>
                <span v-if="rate" style="opacity: 0.7; display: block; margin-bottom: 10px;">≈ USD {{ Number(checkout.amount * rate).toFixed(2) }} @ <a href="https://coinmarketcap.com/currencies/nano" target="_blank" class="cursor"> {{ rate.toFixed(3) }} <img src="./dist/images/info2.png" alt="" class="info-icon">
                  </a>
                </span>
                <!-- <span class="faded">Nano Address:</span> -->
              </h4>
              <h1 v-if="!checkout.amount">{{checkout.title}}</h1>
              <p class="address" :style="`color:${checkout.highlight && checkout.highlight.color ? checkout.highlight.color : ''};background:${checkout.highlight && checkout.highlight.background ? checkout.highlight.background : ''};`" @click="copy(checkout.address)">
                <span class="highlight">{{ checkout.address.slice(0, 12) }}</span><span>{{ checkout.address.slice(12, 58) }}</span><span class="highlight">{{ checkout.address.slice(59, 99) }}</span>
                <img src="./dist/images/clipboard.png" alt="">
              </p>
              <div class="qrSwitcher">
                <a :href="`nano:${checkout.address}${checkout.amount ? '?amount=' + convert(checkout.amount, 'NANO', 'RAW') : ''}`">
                <!-- <a href="nano:ADDRESS?amount=AMOUNT"> -->
                  <!-- <img alt=""  src=""> -->
                  <div class="qrcode" :style="`background:${checkout.highlight && checkout.highlight.back ? checkout.highlight.back : ''};`">
                    <div id="qrcode"></div>
                  </div>
                  <div class="security-notice nano" :style="`color:${checkout.highlight && checkout.highlight.color ? checkout.highlight.color : ''};background:${checkout.highlight && checkout.highlight.background ? checkout.highlight.background : ''};`">
                    <img src="./dist/images/info2.png" class="lock-icon" style="margin-bottom: 0px;"> Tap to open Natrium
                  </div>
                </a>
              </div>
              <button v-if="!checkout.fullscreen" class="button" :style="`color:${checkout.highlight && checkout.highlight.color ? checkout.highlight.color : ''};background:${checkout.highlight && checkout.highlight.background ? checkout.highlight.background : ''};`">
                <span>Check Payment</span>
              </button>
              <div v-if="!checkout || !checkout.amount" class="security-notice shrink">
                <div class="flex center">Verify the recipient address, and only send NANO (XNO) to this address.</div>
              </div>
              <div v-if="checkout && checkout.amount" class="security-notice small">
                <div class="flex center">Verify the recipient address, and only send NANO (XNO) to this address. Sending any amount other than {{ checkout.amount }} will not process correctly. </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <script src="dist/nano.to.js"></script>
  </body>
</html>